@{
    ViewData["Title"] = "Home Page";

}
@model HomeIndexViewModel


<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        @{ var active = "active"; }
        @foreach (var hut in Model.Huts)
        {
            <div class="carousel-item @active">
                <img src="@hut.BigPicturePath" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>@hut.Name</h5>
                    <p>@hut.ShortDescription</p>
                </div>
            </div>
            active = "";
        }

    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row" style="margin-top:30px">
    @foreach (var news in Model.News)
    {
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="@news.Path" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">@news.ShortDescription</p>
                </div>
            </div>
        </div>
    }

</div>

